<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кафе</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <h1 class="mt-0 p-0"><a class="navbar-brand ps-5" href="{% url 'index' %}">Кафе</a></h1>
        <button id="enable-sound-btn" class="btn btn-primary">Включить звуковые уведомления</button>
        <div class="navbar-nav pe-5">
          <a class="nav-link" href="{% url 'create_order' %}">Новый заказ</a>
          <a class="nav-link" href="{% url 'all_orders' %}">Все заказы</a>
          <a class="nav-link" href="{% url 'kitchen_orders' %}">Кухня - очередь</a>
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          {% else %}
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <audio id="order-notification" src="{% static 'audio/new-order.mp3' %}" preload="auto"></audio>
    <audio id="order-status-change-notification" src="{% static 'audio/status-change.mp3' %}" preload="auto"></audio>
    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>
    <link href="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" />

    <script>
      let isSoundEnabled = false
      const notificationSound = document.getElementById('order-notification')
      const notificationStatusSound = document.getElementById('order-status-change-notification')
      const enableSoundBtn = document.getElementById('enable-sound-btn')
      
      // Enable sound when the button is clicked
      enableSoundBtn.addEventListener('click', () => {
        isSoundEnabled = true
        enableSoundBtn.disabled = true // Disable the button after enabling sound
        alert('Звуковые уведомления включены.')
      })
    </script>
  </body>
</html>
