{% extends 'main/base.html' %}
{% block content %}
<div class="welcome-container">
  
    <div class="admin-dashboard">
      <div class="dashboard-header">
        <h1 class="welcome-name" >Добро пожаловать в систему {{CAFE_NAME}}!</h1>
        <p class="dashboard-subtitle">Выберите нужный раздел:</p>
      </div>
      
      <div class="dashboard-cards">
        <div class="card">
          <div class="card-icon bg-primary">
            <i class="ri-shopping-cart-line"></i>
          </div>
          <div class="card-content">
            <h3  class="welcome-name" >Создать заказ</h3>
            <a href="{% url 'create_order' %}" class="btn btn-primary">
              <i class="ri-add-line"></i> Перейти
            </a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-icon bg-success">
            <i class="ri-list-check"></i>
          </div>
          <div class="card-content">
            <h3 class="welcome-name">Все заказы</h3>
            <a href="{% url 'all_orders' %}" class="btn btn-success">
              <i class="ri-eye-line"></i> Просмотреть
            </a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-icon bg-warning">
            <i class="ri-knife-line"></i>
          </div>
          <div class="card-content">
            <h3  class="welcome-name">Заказы на кухне</h3>
            <a href="{% url 'kitchen_orders' %}" class="btn btn-warning">
              <i class="ri-cooking-line"></i> Открыть
            </a>
          </div>
        </div>
    {% if user.is_superuser %}
        <div class="card">
          <div class="card-icon bg-danger">
            <i class="ri-settings-line"></i>
          </div>
          <div class="card-content">
            <h3  class="welcome-name">Админ-панель</h3>
            <a href="{% url 'admin:index' %}" class="btn btn-danger">
              <i class="ri-admin-line"></i> Войти
            </a>
          </div>
        </div>
      </div>
    </div>
  
  {% else %}
    <div class="user-welcome">
      <div class="welcome-card">
        <div class="welcome-content">
          <p>Вы залогинены как:</p>
          <div class="features">
            <div class="feature-item">
              <i class="ri-check-double-line"></i>
              {% if request.user.is_authenticated %}
              {{ request.user.get_full_name|default:request.user.username }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}