.item-quantity {
  width: 80px;
  margin: 0 auto;
}
.card {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body {
  flex: 1; /* Make the card body fill the remaining space */
  padding: 20px;
}
h4 {
  margin-top: 20px;
}
.row {
  margin-bottom: 20px;
}

.card-order {
  height: 100%; /* Ensure all cards have the same height */
  display: flex;
  flex-direction: column;
}
.card-order:hover {
  background-color: hsla(214, 98%, 61%, 0.2); /* Background color on hover */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.list-unstyled {
  margin-bottom: 10px; /* Add spacing between items */
}

.card-header {
  background-color: #007bff;
  color: white;
  border-radius: 10px 10px 0 0;
}

.text-center label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}
/* Custom styles for the order type dropdown */
.list-group {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.list-group-item {
  background: #f7f7f7;
  text-align: center;
  padding: 3px 5px;
}
.highlight {
  border: 2px solid #007bff; /* Blue border */
  background-color: #f0f8ff; /* Light blue background */
}
