{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
<div class="sales-report">
    <link href="{% static 'css/sales_report.css' %}" rel="stylesheet"/>

    <form method="get" class="date-selector">
        <label for="date">Выбери дату:</label>
        <input type="date" name="date" value="{{ selected_date|date:'Y-m-d' }}">
        <button type="submit" class="button">Показать отчет</button>
    </form>
    
    <table class="sales-table">
        <thead>
            <tr>
                <th>Блюдо</th>
                <th>Всего продано</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sales_data %}
            <tr>
                <td>{{ item.menu_item__name }}</td>
                <td>{{ item.total_quantity }}</td>
                <td>{{ item.total_revenue }} ₽</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Нет продаж на этот день</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}