{% extends 'main/base.html' %} {% block content %}
{% load static %}
<div class="container ms-2">
  <h2 class="text-center" >Все заказы на сегодня <span id="current_date"></span> </h2>
  
  <link href="{% static 'css/all_order.css' %}" rel="stylesheet" />

  <!-- Container for pending orders -->
  <div id="orders-container">{% include 'orders/order_list.html' %}</div>

  <!-- Display delivered and cancelled orders as a list in a grid -->
  <div class="row" id="completed-orders">
    <div class="col-12">
      <h3>Доставленные и отмененные заказы</h3>
      <div class="row">
        {% for order in orders %} {% if order.status == 'delivered' or order.status == 'cancelled' %}
        <div class="col-md-2 col-sm-4 col-6 mb-4">
          <div class="list-group-item">
            <a href="{% url 'order_detail' order.id %}" class="text-decoration-none text-dark">
            <h6 class="mb-1">
              Заказ #{{ order.order_number|slice:'12:' }} {% if order.status == 'cancelled' %}
              <span class="badge bg-danger">{{ order.get_status_display }}</span>
              {% elif order.status == 'delivered' %}
              <span class="badge bg-success">{{ order.get_status_display }}</span>
              {% endif %}
            </h6>
            <p class="mb-1">{{ order.created_at }}</p>
            </a>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  const socket = new WebSocket("ws://" + window.location.host + "/ws/orders/");

  socket.onmessage = function (event) {
    const data = JSON.parse(event.data);
    console.log(data);

    // Handle status change updates
    if (data.action === "status_change") {
      fetch("{% url 'all_orders' %}", {
        headers: {
          "X-Requested-With": "XMLHttpRequest",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("orders-container").innerHTML = data.html;
        });

      if (notificationStatusSound) {
        notificationStatusSound.play().catch((error) => {
          console.error("Error playing sound:", error);
        });
      }
    }

    // Handle new order creation
    if (data.message === "new_order") {
      const ordersContainer = document.getElementById("orders-container");
      const order = data.order_data;

      // Dynamically create the new order card using JavaScript
      const card = document.createElement("div");
      card.className = "col-md-3 col-sm-4 col-6 mb-1";
      card.innerHTML = `
                <div class="card-order border border-secondary d-flex flex-column h-100 rounded-3" data-order-id="${
                  order.id
                }">
                    <div class="card-body flex-fill">
                        <h6 class="card-title">Заказ #${order.order_number}
                            ${
                              order.status === "done"
                                ? '<span class="badge bg-info">Готов</span>'
                                : '<span class="badge bg-warning text-dark">Готовится на кухне</span>'
                            }
                        </h6>
                        <span class="card-text text-decoration-underline">${
                          order.created_at
                        }</span>
                        <span>${
                          order.order_type === "takeaway" ||
                          order.order_type === "delivery"
                            ? order.phone_number || "Нет номера"
                            : ""
                        }</span>
                        <ul class="list-unstyled mt-1 mb-1">
                            ${order.items
                              .map(
                                (item) =>
                                  `<li>${item.name} x ${item.quantity}</li>`
                              )
                              .join("")}
                            ${order.items.length > 3 ? "<li>Еще...</li>" : ""}
                        </ul>
                    </div>
                    <div class="d-flex flex-row text-center justify-content-evenly mb-1">
                        ${
                          order.status === "done"
                            ? `
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelModal${order.id}">
                                Отменить заказ
                            </button>
                            <button type="button" class="btn btn-info btn-sm fw-bold text-light" data-bs-toggle="modal" data-bs-target="#deliverModal${order.id}">
                                Вручить заказ
                            </button>
                        `
                            : `
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelModal${order.id}">
                                Отменить заказ
                            </button>
                        `
                        }
                    </div>
                </div>
            `;
      ordersContainer.prepend(card); // Add the new card at the top of the container

      //     if (notificationSound) {
      //     notificationSound.play().catch(error => {
      //         console.error('Error playing sound:', error);
      //     });
      // }
      setTimeout(function () {
        fetch("{% url 'all_orders' %}", {
          headers: {
            "X-Requested-With": "XMLHttpRequest",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("orders-container").innerHTML = data.html;
          });
      }, 7000);
    }
  };

document.getElementById("current_date").innerHTML = new Date().toLocaleDateString('ru-RU');


</script>
{% endblock %}
