{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/order_pdf.css' %}" rel="stylesheet"/>
    <title>Чек #{{ order.order_number|slice:"12:" }}</title>
    <style>
        {% comment %} @media print {
            @page {
                size: auto; /* Important for dynamic height */
                margin: 0; /* Remove browser's default margin */
            }
            
            body {
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
                margin: 0;
                padding: 5mm; /* Small padding for aesthetics */

            }
        } {% endcomment %}
    </style>
</head>
<body >
    <div class="header">
        <div class="restaurant-name">Кафе {{CAFE_NAME}}</div>
        <div>Кассовый чек</div>
    </div>

    <div class="order-info">
        <div><strong>Номер заказа:</strong> #{{ order.order_number|slice:"12:" }}</div>
        <div><strong>Дата:</strong> {{ order.created_at|date:"d.m.Y H:i" }}</div>
        <div><strong>Тип заказа:</strong> {{ order.get_order_type_display }}</div>
        <div><strong>Оплата:</strong> {{ order.get_payment_type_display }}</div>
        {% if order.name %}<div><strong>Клиент:</strong> {{ order.name }}</div>{% endif %}
    </div>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.menu_item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.menu_item.price }}</td>
                <td>{{ item.menu_item.price|mul:item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div><strong>Скидка:</strong> {{ order.discount }}%</div>
        <div class="total">
            Итого оплачено: {{ order.total_sum }} ₽
        </div>
        
    <div class="footer">
        Спасибо за посещение!<br>
        {{ order.created_at|date:"d.m.Y H:i" }}<br>
        Кассир: {{ request.user.get_full_name|default:"Кассир" }}
    </div>
    <script type="text/javascript">
    window.print();
    setTimeout(window.close, 0.5);
</script>
</body>
</html>